{% extends 'common/dashboard_layout.html'%}
{% load static %}

{% block content %}   
    <header class="p-4 shadow-md">
        <h1 class="text-xl font-medium">Dashboard</h1>
    </header>
<main class="p-6 bg-gray-100 min-h-screen overflow-y-auto">
    Card1 
    Card1   
    Card1   
    Card1   
    Card1   
    Card1   
    Card1   
    Card1   
   
<div class="bg-white p-4 w-32 h-32  shadow-md mt-4">
    hi this is card
</div>
<div class="bg-white p-4 w-32 h-32  shadow-md mt-4">
    hi this is card
</div><div class="bg-white p-4 w-32 h-32  shadow-md mt-4">
    hi this is card
</div><div class="bg-white p-4 w-32 h-32  shadow-md mt-4">  
    hi this is card
</div><div class="bg-white p-4 w-32 h-32  shadow-md mt-4">
    hi this is card
</div>
</main>
{% endblock %}