{% extends 'common/dashboard_layout.html'%}
{% load static %}

{% block content %}
<header class="p-4 shadow-md bg-white">
    <h1 class="text-xl font-medium">Dashboard Overview</h1>
</header>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<main class="p-6 bg-gray-100 min-h-screen overflow-y-auto">
    <div class="bg-white p-6 rounded-lg shadow">
        <canvas id="applicationsChart" height="120"></canvas>
    </div>
    <h2 class="text-lg font-medium mt-10 mb-3">Recent Activity</h2>
    <div class="bg-white p-4 rounded-lg shadow overflow-x-auto">

        <table class="w-full text-left border-collapse">
            <thead>
                <tr class="border-b">
                    <th class="p-2">User</th>
                    <th class="p-2">Action</th>
                    <th class="p-2">Date</th>
                </tr>
            </thead>
            <tbody>
                {% if recent_applications %}
                {% for app in recent_applications %}
                <tr class="border-b hover:bg-gray-50">
                    <td class="p-3">
                        {{ app.applicant.user.first_name }} {{ app.applicant.user.last_name }}
                        <div class="text-xs text-gray-500">
                            {{ app.applicant.user.email }}
                        </div>
                    </td>

                    <td class="p-3">
                        Applied to
                        <span class="font-semibold">{{ app.job.title }}</span>
                    </td>

                    <td class="p-3">
                        {{ app.applied_at|date:"Y-m-d H:i" }}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3" class="text-gray-500 p-4 text-center">
                        No job applications yet.
                    </td>
                </tr>
                {% endif %}
            </tbody>


        </table>

    </div>

</main>
<script>
    const ctx = document.getElementById("applicationsChart").getContext("2d");

    new Chart(ctx, {
        type: "bar",
        data: {
            labels: ["Applicants", "Pending", "Approved", "Rejected", "Jobs Posted"],
            datasets: [{
                label: "Count",
                data: [24, 12, 7, 5, 14],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}